<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body style="padding: 0 5%;">
    <div class="navbar" style="width: 100%;display: flex;align-items: center;justify-content: center;background-color: black; margin: 0 auto;">
        <ul style="width: 90%;display: flex;align-items: center;justify-content: space-around; list-style: none;font-size: 20px; font-weight: 700;color: white;">
           <li><a href="/" style="text-decoration: none;color: white;"> Movies</a></li>
           <li><a href="/About" style="text-decoration: none;color: white;"> About</a></li>
           <li><a href="/create" style="text-decoration: none;color: white;"> Add New</a></li>
       </ul>
   </div>
    <div class="movies" style="background-color: black; color:white; ">
        <h3 style="text-decoration: underline; color:white; text-align: center;">Movies</h3>
        <div class="single" href="/movies/<%= movies.id %>" style="text-decoration: none;color:black;
            display: flex; width: 100%; justify-content: space-around;">
            <div class="pic" style="width: 25%;">
                <img src="<%= movies.poster_path %>" alt="movie" style="width: 100%;">
            </div>
            <div class="text" style="width: 40%; display: flex; flex-direction: column; justify-content: space-around; color: white;">
                <h2 class="title" style="text-decoration: underline; font-size: 30px;"> Title: <%= movies.title %></h2>
                <p style="font-size: 20px;">Release Date: <%= movies.release_date%></p>
                <p style="font-size: 20px;">Original language: <%= movies.original_language%></p>
                <p  style="font-size: 20px;">Popularity: <%= movies.popularity%></p>
                <h3 style="font-size: 25px;">overview:</h3>
                <article style="width: 100%; font-size: 16px;">
                <%= movies.overview %>
                </article> 
                <a class="delete" data-doc="<%= movies.id %>" style="margin: 2% auto;cursor:pointer;padding: 4px 7px;color: white;background-color: red; border: none;">delete</a>  
            </div>
        </div>     
    </div>
    <script>
         const trashcan = document.querySelector('.delete');
            trashcan.addEventListener('click', (e) => {
            const endpoint = `/movies/${trashcan.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
            });

    </script>
</body>
</html>